.hero {
  position: relative;
  text-align: center;
  padding: 200px 20px;
  background-size: cover;
}

.game-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
  z-index: -1;       /* Coloca la imagen detrás del texto */
  opacity: 0.45;
}

h1, p {
  position: relative; /* Asegura que el texto se posicione sobre la imagen */
  z-index: 1;        /* Coloca el texto encima de la imagen */
}

p{
  font-weight: 600;
  font-size: 24px;
  justify-content: center;
  width: fit-content;
  padding: 20px;
}

.hero h1 {
  color: #00ffff;
  font-size: 2.5em;
}

.caja1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gradient-circle1 {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-image: radial-gradient(circle at 50% 50%, 
    white 0%,
    #113bf4 60%,
    #00edff 70%
  );
  margin: 36px
}

.gradient-circle2 {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: radial-gradient(circle at 50% 50%, 
    white 0%,
    #8600d8 60%,
    #f113a8 70%
  );
  margin: 36px;
}

.icon1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.8);
}

.cg1-text-title {
  font-weight: 600;
  font-size: 20px;
  width: 400px;
  color: #FFFFFF
}

.cg1-text {
  font-size: 20px;
  width: 400px;
  color: #FFFFFF
}

.texto-circ1 {
  justify-content: center;
  flex-direction: column;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  width: rem;
}

.contenedor-escalable {
  transform: scale(0.8); /* Ajusta el valor de escala según tus necesidades */
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #121212;

}

.feature {
  width: 100%;
  margin: 15px 0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.contenedor-cajas {
  display: flex;
  flex-direction:  column;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .contenedor-cajas {
      flex-direction: row; /* Cajas en fila para pantallas más grandes */
      flex-wrap: wrap;      /* Permitir que las cajas se envuelvan */
      justify-content: space-around; /* Distribuir las cajas con espacio uniforme */

  }

  .contenedor-escalable {
    transform: scale(1); /* Ajusta el valor de escala según tus necesidades */
  }

}

.feature.blue {
  background-color: #1a1aff;
}

.feature.purple {
  background-color: #8000ff;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 2rem;
  margin: 1rem rem;
  /* text-align: center; */
}

.contact h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  resize: vertical;
}

.form-group select {
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: "Open Sans", sans-serif, system-ui;
  width: 50%;
}

form button {
  background-color: #8000ff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #5a00b2;
}

.error {
  border: 2px solid var(--rojo);
}
.error-message {
  color: var(--rojo);
  font-size: 0.9em;
  margin-top: 5px;
}

/* Desktop Styles */
@media (min-width: 768px) {
  .feature {
    width: 30%;
    margin: 15px;
  }
}
